/* removes white margin around edge of background image */
body {
    margin: 0 0 0 0;
    text-align: center;

}

.background {
    background-size: cover;
    opacity: 90%;
    min-height: 100vh; /* so background stays full size of viewport*/
    background-image: url('../images/glacier.jpeg');
    width: 100%;
}
/*.background[data-color="azure"]:after {*/
/*    background: #1DC7EA;*/
/*    background: -moz-linear-gradient(top, #4dffa6 0%, #365eff 50%);*/
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1DC7EA), color-stop(100%, #4091ff));*/
/*    background: -webkit-linear-gradient(top, #4dffa6 0%, #365eff 50%);*/
/*    background: -o-linear-gradient(top, #4dffa6 0%, #365eff 50%);*/
/*    background: -ms-linear-gradient(top, #4dffa6 0%, #365eff 50%);*/
/*    background: linear-gradient(to bottom, #4dffa6 0%, #365eff 50%);*/
/*}*/

/*.sidebar[data-image]:after, .sidebar.has-image:after {*/
/*    opacity: .77;*/
/*}*/



    /*background: #1DC7EA;*/
    /*background: -moz-linear-gradient(top, #4dffa6 0%, #365eff 50%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1DC7EA), color-stop(100%, #4091ff));*/
    /*background: -webkit-linear-gradient(top, #4dffa6 0%, #365eff 50%);*/
    /*background: -o-linear-gradient(top, #4dffa6 0%, #365eff 50%);*/
    /*background: -ms-linear-gradient(top, #4dffa6 0%, #365eff 50%);*/
    /*background: linear-gradient(to bottom, #4dffa6 0%, #365eff 50%);*/



/* style main header*/
.header {
    text-align: center;
    color: white;
    /*border-bottom: 1px solid white;*/
    text-shadow: 2px 2px 5px black;
    padding-top: 1%;
}

.inputValidation{
    font-size: 90%;
    color: red;
    /*font-weight:bold;*/
}

#loginError{
    margin-left: 40%;
    margin-right: 40%;
    padding: 0.3%;
}

#logo2 {
   width: 20%;
   margin: -3% 0 -5% 0;
}
#logoCaption{
    font-family: Andale Mono, monospace;
    font-size: 180%;
    color: #4dffa6;
    text-align: center;
    text-shadow: 2px 2px 2px 2px;
/*   box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);*/
    margin: 0 33% 3%;
    font-weight: bold;
}
#logoCaption2{
    font-family: Andale Mono, monospace;
    font-size: 130%;
    color: #4dffa6;
    text-align: center;
    text-shadow: 2px 2px 2px 2px;
    /*   box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);*/
    margin: 0 33%;
    font-weight: bold;
}


/* navigation menu */
#nav {
    width: 100%; /*makes the menu width the same as the window width*/
    margin: 0 0 0 0; /*removes margin and padding*/
    padding: 0;
    list-style: none; /*removes bullets from the list*/
    background-color: white;
}

#nav li {
    float: left; /*floats list items left*/
    clear: right;
    padding-left: 9.3%;
    font-size: 80%;
    padding-top: 1%;
}

#nav li a {
    display: block; /*fills up the entire list item and makes the whole area clickable*/
    padding: 9px 25px;
    text-decoration: none; /*removes the underline from the anchor*/
    font-weight: bold;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#nav li a:hover {
    color: #c00;
    opacity: 50%;
    background-color: #fff;
}



/* main form stylings */
.form {
/*    margin: 0 0 0 0;*/
/*    position: center;
*/    font-family: Helvetica, sans-serif;
      display: inline-block;
  /*  border: none;*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .5);*/
  /*  border-radius: 4px;*/
    /*background: rgba(255, 255, 255, 0.3); !* allows change in opacity without affecting text opacity*!*/
 /*   padding-right: 5%;*/
      padding-left: 2%;
}

/* first header in form */
#formP1, #formR1{
    font-family: Georgia, serif;
    font-size: 100%;
    color: white;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 20px black;
    padding-bottom: 5%;
    font-style: italic;
}
#formP3{
    font-size: 110%;
    color: white;
    margin: 4% 0 0 0;
    text-shadow: 2px 2px 3px black;
    padding-left: 10%;
    font-family: Helvetica, sans-serif;
}
/* form stylings for input of type text boxes*/
input[type=text], input[type=password], input[type=email], #select, #foodName{
    width: 110%;
    padding: 5%;
    margin: 3% 0;
    border-radius: 50px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .1);
    transition: 0.5s;
    outline: none; /*removes deault 'blue' outline when field is selected*/
    background-color: rgba(255, 255, 255, .8); /* allows change in opacity without affected text */
    color: grey;
    font-family: Helvetica, sans-serif;
    text-align: left;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75)

    /*text-shadow: 2px 2px 5px black;*/
}
/**/


input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, #select:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 1);
    color: grey;
  
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* submit box styling */
/*input[type=submit], [type=button]{*/
#login, #signUpp, #addFoodItem, #foodTotal{
    width: 110%;
    background-image: linear-gradient(to bottom right, #4dffa6, #365eff);
/*    background-color: #4dffa6; /*rgba(255, 255, 255, .8);*/
/*    color: rgba(255, 255, 255, 1);*/ /*rgba(55, 158, 190, 1);*/
    color: #fff;
    padding: 5%;
    margin: 3% 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    font-size: 16px;
}

#logout{
    margin-top: 50%;
}
.regButton{
    background-image: linear-gradient(to bottom right, #4dffa6, #365eff);
    /*    background-color: #4dffa6; !*rgba(255, 255, 255, .8);*/
    /*    color: rgba(255, 255, 255, 1);*/ /*rgba(55, 158, 190, 1);*/
    color: #fff;
    padding: 10%;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

#login:hover, #signUpp:hover, .regButton:hover {
   background-image: linear-gradient(to bottom right, #365eff, #4dffa6);
  
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#signUp{
      width: 110%;
 /*   background-image: linear-gradient(to bottom right, #4dffa6, #365eff);*/
/*    background-color: #4dffa6; /*rgba(255, 255, 255, .8);*/
    color: rgba(255, 255, 255, 1); /*rgba(55, 158, 190, 1);*/
    color: #4dffa6;
    padding: 5%;
    margin: 3% 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    font-size: 16px;
}

#signUp:hover {
    background-image: linear-gradient(to bottom right, #365eff, #4dffa6);
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
}


/* reset box styling */
input[type=reset] {
    width: 90%;
    background-color: white;
    opacity: 60%;
    color: black;
    padding: 11px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

/* changed colour of reset box on hover*/
input[type=reset]:hover {
    background-color: red;
}

/* style when total is displayed */
#totalNow {
    color: white;
    font-size: 200%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
}

/* footer stylings*/
/*.footer {*/
/*    font-size: 80%;*/
/*    color: white;*/
/*    text-align: center;*/
/*    font-family:Helvetica, sans-serif;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 4rem;            !* Footer height *!*/
/*    text-shadow: 2px 2px 5px black;*/
/*    background: rgba(255, 255, 255, 0.3); !*!* allows change in opacity without affecting text opacity*!*!*/
/*}*/

#copy{
    color: grey;
    padding-top: 15%;
    padding-left: 10%;

}

#copy2{
    color: grey;
    padding-top: 13%;
    padding-left: 10%;

}

#page-container {
    position: relative;
    min-height: 100vh;
}

/*#content-wrap {*/
/*    padding-bottom: 4rem;    !* Footer height *!*/
/*}*/
