/* removes white margin around edge of background image */
body {
    margin: 0 0 0 0;
    text-align: center;
}

.background {
    background-size: cover;
    opacity: 90%;
    min-height: 100vh; /* so background stays full size of viewport*/
    background-image: url('../images/glacier.jpeg');
    width: 100%;
}

.backgroundSignUp {
    background-size: cover;
    min-height: 100vh; /* so background stays full size of viewport*/
    background-image: url('../images/lake.jpeg');
    width: 100%;
}

.backgroundReg {
    background-size: cover;
    opacity: 90%;
    min-height: 100vh; /* so background stays full size of viewport*/
    background-image: url('../images/Northern-Lights2.jpeg');
    width: 100%;
}


/* style main header*/
.header {
    text-align: center;
    color: white;
    /*border-bottom: 1px solid white;*/
    text-shadow: 2px 2px 5px black;
    padding-top: 1%;
}

.inputValidation{
    display: inline-block;
    font-size: 100%;
    color: red;
    font-family: Helvetica, sans-serif;
    /*background: rgb(243, 119, 110);*/
    max-width:43vh;
    background-color: rgba(255, 255, 255, .6);
    /*font-weight:bold;*/
}

#logo2 {
   width: 20%;
   margin: -3% 0 -5% 0;
}
#logoCaption{
    font-family: Andale Mono, monospace;
    font-size: 180%;
    color: #4dffa6;
    text-align: center;
    text-shadow: 2px 2px 2px 2px;
    margin: 1% 0 3%;
    font-weight: bold;
}
#logoCaption2{
    font-family: Andale Mono, monospace;
    font-size: 130%;
    color: #4dffa6;
    text-align: center;
    text-shadow: 2px 2px 2px 2px;
    margin: 0 33%;
    font-weight: bold;
}

/* first header in form */
#formP1, #formR1{
    font-family: Georgia, serif;
    font-size: 100%;
    color: white;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 20px black;
    padding-bottom: 5%;
    font-style: italic;
}
#formP3{
    font-size: 110%;
    color: white;
    text-shadow: 2px 2px 3px black;
    font-family: Helvetica, sans-serif;
}
/* form stylings for input of type text boxes*/
input[type=text], input[type=password], input[type=email], select, #foodName{
    min-height: 6vh;
    min-width:43vh;
    padding: 1%;
    margin: 1% 0;
    border-radius: 50px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .1);
    transition: 0.5s;
    outline: none; /*removes deault 'blue' outline when field is selected*/
    background-color: rgba(255, 255, 255, .8); /* allows change in opacity without affected text */
    font-family: Helvetica, sans-serif;
    text-align: left;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    display: inline-block;
}

select{
    max-width: 43vh;
    min-height: 6vh;
    margin: 1%;
}

::placeholder{
    color: #454545;
    opacity: 1;
}
/**/

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, select:focus{
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 1);
    color:#454545;
}

/*input:invalid {*/
/*    background-color: #FFAAAA;*/
/*}*/

/*input:valid {*/
/*    background-color: #AAFFAA;*/
/*}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#login, #createAcc, #addFoodItem, #foodTotal{
    min-width:43vh;
    display: inline-block;
    background-image: linear-gradient(to bottom right, #4dffa6, #365eff);
    color: #fff;
    padding: 1%;
    min-height: 6vh;
    margin: 1% 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    font-size: 16px;
}

#logout{
    margin-top: 50%;
}
/*.regButton{*/
/*    background-image: linear-gradient(to bottom right, #4dffa6, #365eff);*/
/*    !*    background-color: #4dffa6; !*rgba(255, 255, 255, .8);*!*/
/*    !*    color: rgba(255, 255, 255, 1);*! !*rgba(55, 158, 190, 1);*!*/
/*    color: #fff;*/
/*    padding: 10%;*/
/*    border: none;*/
/*    border-radius: 40px;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    font-family: Helvetica, sans-serif;*/
/*    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);*/
/*    font-size: 15px;*/
/*    font-weight: 600;*/
/*}*/

#login:hover, #createAcc:hover, .regButton:hover {
   background-image: linear-gradient(to bottom right, #365eff, #4dffa6);
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#signUp{
    min-height: 6vh;
    background-color: white;
    min-width:43vh;
    color: #4dffa6;
    padding: 1%;
    margin: 1% 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    font-size: 16px;
}

#signUp:hover {
    background-image: linear-gradient(to bottom right, #365eff, #4dffa6);
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
}


/* reset box styling */
input[type=reset] {
    width: 90%;
    background-color: white;
    opacity: 60%;
    color: black;
    padding: 11px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

/* changed colour of reset box on hover*/
input[type=reset]:hover {
    background-color: red;
}


#copy{
    color: #454545;
    font-family: Helvetica, sans-serif;
}


#page-container {
    position: relative;
    min-height: 100vh;
}
