.page-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden
}

.avatar {
    width: 100px;
    height: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid #FFFFFF;
}

#smallLogo {
    width: 11.5%;
    margin-top: 1.3%;
    margin-left: 1.3%;
    position: fixed;
}

/* calc form headings*/
#tableH2, #tableH3 {
    font-family: Helvetica, sans-serif;
    font-size: 120%;
    color: #585858;
    text-align: center;
}

/*calculator info text*/
#h1, #h11 {
    font-family: Helvetica, sans-serif;
    font-size: 180%;
    color: #b1b1b1;
    text-align: center;
    margin-top: 2%;
    text-outline: 1px black;
}

/*calculator info text*/
#h2, #h3 {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    color: #b1b1b1;
    text-align: center;
    margin-top: 1%;
    line-height: 150%;
    text-outline: 1px black;
}

#h33 {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    color: #b1b1b1;
    text-align: left;
    line-height: 150%;
    text-outline: 1px black;
    margin-left: 33%;
}

.clipArt img {
    width: 100%;
    height: auto;
}

.res {
    text-align: center;
    color: #00bbff;
    max-width: 100%;
    font-style: italic;
}

.total {
    text-align: center;
    color: orangered;
    margin-top: 3%;
    margin-bottom: -9%;
    max-width: 100%;
    font-size: 20px;
}

.inputValidation {
    font-size: 100%;
    color: orangered;
    margin: 0;
}

/* form stylings for input of type text boxes*/
input[type=text], input[type=number], #select, .activity {
    width: 110%;
    padding: 3%;
    margin-bottom: 1%;
    border-radius: 50px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .1);
    transition: 0.5s;
    outline: none; /*removes default 'blue' outline when field is selected*/
    background-color: rgba(255, 255, 255, .8); /* allows change in opacity without affected text */
    color: #585858;
    font-family: Helvetica, sans-serif;
    text-align: left;
    max-width: 100%;
}

#dietaryPref {
    width: 20%;
    padding: .5%;
    /*margin-bottom: 1%;*/
    margin-left: 10%;
    border-radius: 50px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .1);
    transition: 0.5s;
    outline: none; /*removes default 'blue' outline when field is selected*/
    background-color: rgba(255, 255, 255, .8); /* allows change in opacity without affected text */
    color: #585858;
    font-family: Helvetica, sans-serif;
    text-align: left;
    max-width: 100%;
}

.selectBtn {
    width: 10%;
    background-color: #4dffa6;
    color: black;
    padding: .5%;
    margin: 0 0 0 1%;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.25);
}

/**/


input[type=text]:focus, input[type=number]:focus, #select:focus, option:focus, #dietaryPref {
    border: 2px solid #4dffa6;
    background-color: rgba(255, 255, 255, 1);
    color: #585858;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.calcBtn:hover {
    background-color: #15c7dc;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
}

.calcBtn {
    width: 100%;
    background-color: #19ec87;
    color: #fff;
    padding: 3%;
    margin: 0 2% 3% 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.25);
    font-size: 16px;
}

.btn.btn-arrows {
    background-color: #686767;
    color: #fff;
    border: none;
    position: relative;
    font-weight: bold;
    padding: 1.5% 4.25% 1.5% 4.25%;
}

.btn-arrows:hover {
    background-color: #fffefe;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #727171;
}

.btn.btn-arrows.active {
    background-color: #ffffff;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #727171;
}

/*@media screen and (max-width:576px) {*/
/*    .btn-group {*/
/*        margin-left: 33%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        !*margin-top: -7%;*!*/
/*        !*padding: 10px 10px 10px 10px;*!*/
/*    }*/
/*}*/

/*@media (max-width: 991px) {*/
/*    .btn-group > .btn {*/
/*        display: block;*/
/*        width: 100%;*/
/*    }*/

/*    !* making the border-radius correct *!*/
/*    .btn-group > .btn:first-child {*/
/*        border-radius: 6px 6px 0 0;*/
/*    }*/
/*    .btn-group> .btn:first-child:not(:last-child):not(.dropdown-toggle) {*/
/*        border-top-right-radius: 6px;*/
/*    }*/
/*    .btn-group> .btn:last-child:not(:first-child) {*/
/*        border-radius: 0 0 6px 6px;*/
/*    }*/

/*    !* fixing margin *!*/
/*    .btn-group.btn + .btn {*/
/*        margin-left: 0;*/
/*    }*/

/*}*/

/*.btn-group.special {*/
/*    display: flex;*/
/*}*/

/*!*.special .btn {*!*/
/*!*    flex: 1;*!*/
/*!*}*!*/

.btn.btn-primary {
    color: #1ff394;
    border: .5px solid #1ff394;
    border-radius: 10px;
    font-weight: bold;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    background: transparent;
}

.btn.btn-primary.active {
    background-image: linear-gradient(to bottom right, #1ff394, #365eff);
    border: .5px solid #1ff394;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background-color: transparent;
    color: #fff;
    border: .5px solid #1ff394;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#logout {
    margin-top: 50%;
}

.regButton {
    background-image: linear-gradient(to bottom right, #4dffa6, #365eff);
    color: #fff;
    padding: 10%;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    font-size: 15px;
}

#login:hover, #signUpp:hover, .regButton:hover {
    background-image: linear-gradient(to bottom right, #365eff, #4dffa6);
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}