.background_img{
    background-image: url('../images/food/foodB.jpeg');
    opacity: 80%;
    min-height: 100vh; /* so background stays full size of viewport*/
    width:100%;
    background-size: cover;
}

.seasons{
    font-size: 700%;
    color: white;
    padding-top: 50%;
    margin-left: 3%;
}

#summer, #winter, #spring, #autumn{
    padding: 10%;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#summer:hover, #winter:hover, #spring:hover, #autumn:hover{
    opacity: 80%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.container,  #productList {
    display: grid;
    /*height: 700px;*/
    grid-template-columns: 440px 440px;
    /*270px 270px*/
    grid-gap: 5%;
    text-align: center;
    font-size: 1.4em;
    padding-right: 33%;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: space-around;
    align-content: space-evenly;
    list-style: none;

}


.item{
    opacity: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:5%;
    background-color:white;
}

.item:hover{
    opacity: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

