.background_img{
    background-image: url('../images/food/foodB.jpeg');
    opacity: 80%;
    min-height: 100vh; /* so background stays full size of viewport*/
    width:100%;
    background-size: cover;
}

.seasons{
    font-size: 500%;
    color: white;
    font-weight: bold;
    margin: auto;
}