<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script src="js/jquery-1.6.1.min.js"></script>
    <script src="js/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="js/echart/echarts.min.js"></script>
    <script src="js/echart/drawchart.js"></script>
    <script src="js/main.js"></script>
    <script src="js/light-bootstrap-dashboard.js?v=1.4.0"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="icon" type="image/png" href="images/logoIcon.png">

    <title>CO₂ Calculator</title>

    <link th:href="@{css/form.css}" rel="stylesheet"/>
    <!-- Bootstrap core CSS     -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel='stylesheet' type='text/css'>

</head>
<body>

<div class="wrapper">

    <img src="images/sideLogo.png" alt="sideLogo"
         style="width:8%; margin-top:-1.8%; margin-left:1.5%; position: fixed;">

    <div class="sidebar" data-color="azure" data-image="images/sidebar-5.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <img src="images/profile.png" alt="Avatar" class="avatar">
                <a href="#" class="simple-text">
                    <b>[[${#request.userPrincipal.principal.username}]]</b>
                </a>
                <div style="display: flex; justify-content: center; margin-left:-5%;">
                    <p style="font-size: 100%; color:#e0dede; margin-top:-15%"><i class="pe-7s-map-marker"></i>&nbsp;[[${#request.userPrincipal.principal.location}]]
                    </p>
                </div>
            </div>

            <ul class="nav">
                <li>
                    <a href="dashboard">
                        <i class="pe-7s-user"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="addFoodView">
                        <i class="pe-7s-calculator"></i>
                        <p>CO₂ Calculator</p>
                    </a>
                </li>
                <li>
                    <a href="statistics">
                        <i class="pe-7s-graph"></i>
                        <p>My Statistics</p>
                    </a>
                </li>
                <li>
                    <a href="mealPlanner">
                        <i class="pe-7s-leaf"></i>
                        <p>Meal Planner</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><p style="font-size: 95%;">
                    </p></a>
                </div>
                <div class="collapse navbar-collapse">
                    <form th:action="@{/logout}" method="post">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                                        Logged in as
                                        <link rel="icon" type="image/png" href="images/profile.png">
                                        <b style="color: rgba(255,0,135,0.65)">&nbsp;[[${#request.userPrincipal.principal.username}]]</b>
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li class="divider"></li>
                                    <li><a href="logout">Log out</a></li>
                                </ul>
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card" style="margin-top:-2%; padding:1%;">
                            <h2 id="h1">How do your food choices impact the environment?</h2>
                            <h3 id="h2">Simply select an item and its quantity and click <b>add food</b>. Repeat as many
                                times as
                                necessary.
                                <br> Only click <b>calculate total</b> once all your items have been added to receive
                                the total CO₂
                                emissions.</h3>

                            <div class="contentCalc">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card" style="margin:1% 0 4% 0; background-color:white;">
                                                <div class="btn-group" style="margin: auto; width:107%;">
                                                    <a href="addFoodView" class="btn btn-arrows active">FOOD</a>
                                                    <a href="addTransportView" class="btn btn-arrows">TRANSPORT</a>
                                                    <a href="addHouseEnergyView" class="btn btn-arrows">HOUSE</a>
                                                    <a href="addFlightView" class="btn btn-arrows">FLIGHT</a>
                                                </div>
                                                <div class="clipArt">
                                                    <img src="images/foodClip.png" alt="food clip art"
                                                         style="width:97%; height:85px; margin-top:1%;">
                                                </div>

                                                <div class="calcForm">
                                                    <form action="#" th:action="@{/calcFood}" method="post"
                                                          name="addFood">
                                                        <!--                                    <div class="col-sm-12">-->
                                                        <table style="width: 185%; max-width: 185%;">
                                                            <tr>
                                                                <td>
                                                                    <h3 id="tableH2"> Select a food or drink</h3>
                                                                    <select class="activity" name="foodName"
                                                                            th:field="*{foodName}"
                                                                            th:object="${foodObject}">
                                                                        <option label="Select food" value="">
                                                                        </option>
                                                                        <option value="apples">Apple</option>
                                                                        <option value="bananas">Banana</option>
                                                                        <option value="beef (dairy)">Beef (dairy herd)
                                                                        </option>
                                                                        <option value="beef (herd)">Beef (beef herd)
                                                                        </option>
                                                                        <option value="beer">Beer (5% ABV)</option>
                                                                        <option value="beet sugar">Beet Sugar</option>
                                                                        <option value="berries">Berries</option>
                                                                        <option value="wheat & rye (bread)">Bread (wheat
                                                                            &
                                                                            rye)
                                                                        </option>
                                                                        <option value="cane sugar">Cane Sugar</option>
                                                                        <option value="cheese">Cheese</option>
                                                                        <option value="citrus">Citrus Fruit</option>
                                                                        <option value="coffee">Coffee (1 portion = 15g)
                                                                        </option>
                                                                        <option value="dark chocolate">Dark Chocolate
                                                                        </option>
                                                                        <option value="eggs">Eggs</option>
                                                                        <option value="fish (farmed)">Fish (farmed)
                                                                        </option>
                                                                        <option value="grains">Grains</option>
                                                                        <option value="groundnuts">Groundnuts</option>
                                                                        <option value="lamb">Lamb</option>
                                                                        <option value="maize (meal)">Maize (meal)
                                                                        </option>
                                                                        <option value="milk">Milk (dairy)</option>
                                                                        <option value="soymilk">Milk (soy)</option>
                                                                        <option value="nuts">Nuts</option>
                                                                        <option value="oatmeal">Oatmeal</option>
                                                                        <option value="olive oil">Olive Oil</option>
                                                                        <option value="onions & leeks">Onions & Leeks
                                                                        </option>
                                                                        <option value="palm oil">Palm Oil</option>
                                                                        <option value="peas">Peas</option>
                                                                        <option value="pork">Pork</option>
                                                                        <option value="potatoes">Potatoes</option>
                                                                        <option value="poultry">Poultry</option>
                                                                        <option value="prawns (farmed)">Prawns (farmed)
                                                                        </option>
                                                                        <option value="pulses">Pulses</option>
                                                                        <option value="rapeseed oil">Rapeseed Oil
                                                                        </option>
                                                                        <option value="rice">Rice</option>
                                                                        <option value="root vegetables">Root Vegetables
                                                                        </option>
                                                                        <option value="soybean oil">Soybean Oil</option>
                                                                        <option value="sunflower oil">Sunflower Oil
                                                                        </option>
                                                                        <option value="tofu">Tofu</option>
                                                                        <option value="tomatoes">Tomatoes</option>
                                                                        <option value="wine">Wine</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><p th:text="${fErr}" class="inputValidation"
                                                                       style="text-align: right;"></p></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <h3 id="tableH3"> Enter quantity in grams</h3>
                                                                    <input type="number" min="0" name="grams" size="30"
                                                                           value="Grams"
                                                                           th:field="*{grams}"
                                                                           th:object="${foodObject}">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><p th:text="${gErr}" class="inputValidation"
                                                                       style="text-align: right;"></p></td>
                                                            </tr>
                                                            <tr>
                                                                <!-- submit button -->
                                                                <td>
                                                                    <button class="quantity" onclick="TestsFunction()"
                                                                            name="add"
                                                                            value="ADD FOOD">ADD FOOD
                                                                    </button>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <div class="res">
                                                                        <p style="font-weight: bold;"
                                                                           th:text="*{res}"></p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><input th:object="${foodTotalObject}"
                                                                           class="totalBtn"
                                                                           type="submit"
                                                                           name="calc"
                                                                           value="CALCULATE TOTAL"/></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="total">
                                                                        <p style="font-weight: bold; font-size:100%;"
                                                                           th:text="*{total}"></p>
                                                                    </div>
                                                                    <br>
                                                                    <br>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <h3 id="h3"><i><b>*NB</b> once "calculate total" has been clicked, the total CO₂ emissions
                                will
                                be added to your
                                statistics.<br>Calculated totals can be removed by navigating to your account.</i></h3>

                            <!--        <div id="TestsDiv" style="display:none">-->
                            <!--            tests here!-->
                            <!--        </div>-->

                            <!--        <div class="form-group">-->
                            <!--            <button onclick="TestsFunction()">Tests</button>-->
                            <!--        </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact
                            </a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>
                    <a href="http://www.creative-tim.com">SUSTAIN</a> What change will you make?
                </p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
