<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <link href="../css/external.css" th:href="@{../css/external.css}" rel="stylesheet"> <!--link to external .css stylesheet-->
    <script src="js/mainAmyPercival.js"></script> <!--link external JavaScript-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script><!-- jquery for alerts plugin-->
    <script src="jQueryPlugin/jquery.alerts.js"></script> <!-- jquery alerts plugin1-->
    <link href="jQueryPlugin/jquery.alerts.css" rel="stylesheet"> <!-- js alert plugin1 .css stylesheet-->
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div class="background">
            <div class="header">
                <figure> <!-- to add a caption underneath the logo-->
                    <p id="logo"> S &nbsp;&nbsp; U &nbsp;&nbsp; S &nbsp;&nbsp; T &nbsp;&nbsp; A &nbsp;&nbsp; I &nbsp;&nbsp;
                        N</p>
                    <figcaption> <!--content of caption-->
                        <div id="h2">
                            <p id="caption"> S&nbsp; U&nbsp; S&nbsp; T&nbsp; A&nbsp; I&nbsp; N&nbsp; A&nbsp; B&nbsp; L&nbsp;
                                E&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp; L&nbsp; I&nbsp; F&nbsp; E&nbsp; S&nbsp; T&nbsp; Y&nbsp;L&nbsp;E
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                A&nbsp; P&nbsp; P
                            </p>
                        </div>
                    </figcaption>
                </figure>
            </div>

            <!-- form begins here-->
            <div class="form">
                <form action="#" th:action="@{/addFood}" th:object="${foodItems}" method="post">
                    <!-- call validate function in 'form' tag when user clicks submit button-->
                    <p id="formR1">ADD FOOD:</p>
                    <table>
                        <tr>
                            <td>
                                <select id="foodName" name="foodName" th:field="*{foodName}">
                                    <option value="" disabled selected>Choose Food</option>
                                    <option value="apples">Apple</option>
                                    <option value="bananas">Banana</option>
                                    <option value="beefDairy">Beef (dairy herd)</option>
                                    <option value="beefHerd">Beef (beef herd)</option>
                                    <option value="beer">Beer (5% ABV)</option>
                                    <option value="beetSugar">Beet Sugar</option>
                                    <option value="berries">Berries</option>
                                    <option value="bread">Bread (wheat & rye)</option>
                                    <option value="caneSugar">Cane Sugar</option>
                                    <option value="cheese">Cheese</option>
                                    <option value="citrus">Citrus Fruit</option>
                                    <option value="coffee">Coffee (1 portion = 15g)</option>
                                    <option value="darkChocolate">Dark Chocolate</option>
                                    <option value="eggs">Eggs</option>
                                    <option value="fishFarmed">Fish (farmed)</option>
                                    <option value="grains">Grains</option>
                                    <option value="groundnuts">Groundnuts</option>
                                    <option value="lamb">Lamb</option>
                                    <option value="maize">Maize (meal)</option>
                                    <option value="milk">Milk (dairy)</option>
                                    <option value="soymilk">Milk (soy)</option>
                                    <option value="nuts">Nuts</option>
                                    <option value="oatmeal">Oatmeal</option>
                                    <option value="oliveOil">Olive Oil</option>
                                    <option value="onionsLeeks">Onions & Leeks</option>
                                    <option value="palmOil">Palm Oil</option>
                                    <option value="peas">Peas</option>
                                    <option value="pork">Pork</option>
                                    <option value="potatoes">Potatoes</option>
                                    <option value="poultry">Poultry</option>
                                    <option value="prawnsFarmed">Prawns (farmed)</option>
                                    <option value="pulses">Pulses</option>
                                    <option value="rapeseedOil">Rapeseed Oil</option>
                                    <option value="rice">Rice</option>
                                    <option value="rootVegetables">Root Vegetables</option>
                                    <option value="soybeanOil">Soybean Oil</option>
                                    <option value="sunflowerOil">Sunflower Oil</option>
                                    <option value="tofu">Tofu</option>
                                    <option value="tomatoes">Tomatoes</option>
                                    <option value="wine">Wine</option>
                                </select>
                                <!-- 'size' changes length of input box-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="grams" size="30" value="Food name" th:field="*{grams}">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <select id="foodName" name="foodName" th:field="*{foodName}">
                                    <option value="" disabled selected>Choose Food</option>
                                    <option value="apples">Apple</option>
                                    <option value="bananas">Banana</option>
                                    <option value="beefDairy">Beef (dairy herd)</option>
                                    <option value="beefHerd">Beef (beef herd)</option>
                                    <option value="beer">Beer (5% ABV)</option>
                                    <option value="beetSugar">Beet Sugar</option>
                                    <option value="berries">Berries</option>
                                    <option value="bread">Bread (wheat & rye)</option>
                                    <option value="caneSugar">Cane Sugar</option>
                                    <option value="cheese">Cheese</option>
                                    <option value="citrus">Citrus Fruit</option>
                                    <option value="coffee">Coffee (1 portion = 15g)</option>
                                    <option value="darkChocolate">Dark Chocolate</option>
                                    <option value="eggs">Eggs</option>
                                    <option value="fishFarmed">Fish (farmed)</option>
                                    <option value="grains">Grains</option>
                                    <option value="groundnuts">Groundnuts</option>
                                    <option value="lamb">Lamb</option>
                                    <option value="maize">Maize (meal)</option>
                                    <option value="milk">Milk (dairy)</option>
                                    <option value="soymilk">Milk (soy)</option>
                                    <option value="nuts">Nuts</option>
                                    <option value="oatmeal">Oatmeal</option>
                                    <option value="oliveOil">Olive Oil</option>
                                    <option value="onionsLeeks">Onions & Leeks</option>
                                    <option value="palmOil">Palm Oil</option>
                                    <option value="peas">Peas</option>
                                    <option value="pork">Pork</option>
                                    <option value="potatoes">Potatoes</option>
                                    <option value="poultry">Poultry</option>
                                    <option value="prawnsFarmed">Prawns (farmed)</option>
                                    <option value="pulses">Pulses</option>
                                    <option value="rapeseedOil">Rapeseed Oil</option>
                                    <option value="rice">Rice</option>
                                    <option value="rootVegetables">Root Vegetables</option>
                                    <option value="soybeanOil">Soybean Oil</option>
                                    <option value="sunflowerOil">Sunflower Oil</option>
                                    <option value="tofu">Tofu</option>
                                    <option value="tomatoes">Tomatoes</option>
                                    <option value="wine">Wine</option>
                                </select>
                                <!-- 'size' changes length of input box-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="grams" size="30" value="Food name" th:field="*{grams}">
                            </td>

                        </tr>
                        <tr><!-- submit button -->
                            <td>
                                <button class="button" type="submit" name="addFood" value="ADD FOOD">ADD FOOD</button>
                            </td>

                        </tr>
                    </table>
                    <!--form ends-->
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>