<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Transport</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <link href="css/external.css" th:href="@{css/form.css}" rel="stylesheet"/>

    <!--    FROM FREE TEMPLATE FOUND @ CREATIVETIM.COM-->
    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet"/>
    <link href="css/external.css" th:href="@{css/form.css}" rel="stylesheet"/>


</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="assets/img/sidebar-5.jpg">


        <div class="sidebar-wrapper">
            <div class="logo">
                <img src="images/profile.png" alt="Avatar" class="avatar">
                <a href="#" class="simple-text">
                    <b>[[${#request.userPrincipal.principal.username}]]</b>
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="dashboard">
                        <i class="pe-7s-user-female"></i>

                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="activityPageView">
                        <i class="pe-7s-calculator"></i>
                        <p>CO₂ Calculator</p>
                    </a>
                </li>
                <li>
                    <a href="statistics">
                        <i class="pe-7s-graph"></i>
                        <p>My Statistics</p>
                    </a>
                </li>
                <li>
                    <a href="mealPlanner">
                        <i class="pe-7s-leaf"></i>
                        <p>Meal Planner</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><p>
                        <b style="color: rgba(255,0,135,0.65)">&nbsp;[[${#request.userPrincipal.principal.username}]]</b>
                    </p></a>
                </div>
                <div class="collapse navbar-collapse">
                    <form th:action="@{/logout}" method="post">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
                                    <p class="hidden-lg hidden-md">
                                        5 Notifications
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Notification 1</a></li>
                                    <li><a href="#">Notification 2</a></li>
                                    <li><a href="#">Notification 3</a></li>
                                    <li><a href="#">Notification 4</a></li>
                                    <li><a href="#">Another notification</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-search"></i>
                                    <p class="hidden-lg hidden-md">Search</p>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="">
                                    <p>Account</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                                        Dropdown
                                        <b class="caret"></b>
                                    </p>

                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <!--                           <div id = "logout">-->
                                <a href="logout">
                                    <p>Log out</p>
                                </a>
                                <!--                            </div>-->
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>
        <h2 id="h1">How do your modes of transport impact the environment?</h2>
        <h3 id="h2">Simply select a vehicle and the distance travelled and click <b>add journey</b>. Repeat as many times as necessary.
            <br> Only click <b>calculate total</b> once all your journeys have been added to receive the total CO₂
            emissions.</h3>
        <div class="contentCalc">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div id="foodClip">
                                <img src="images/foodClip.png" alt="food clip art">
                            </div>

                            <div class="calcForm">
                                <form action="#" th:action="@{/calcTransport}" method="post">
                                    <!-- call validate function in 'form' tag when user clicks submit button-->
                                    <div class="col-sm-10">
                                        <table class="calcTable">
                                            <tr>
                                                <td>
                                                    <h3 id="tableH2"> Select a vehicle</h3>

                                                    <select id="type" class="activity"
                                                                                      th:field="*{type}"
                                                                                      th:object="${transObject}">
                                                    <option value="" disabled="disabled" selected="selected">Choose
                                                        Vehicle
                                                    </option>
                                                    <option value="" disabled="disabled" selected="selected">BUS
                                                    </option>
                                                    <option value="bus (local)">Bus (local)</option>
                                                    <option value="coach">Bus (coach)</option>
                                                    <option value="" disabled="disabled" selected="selected">CAR -
                                                        DIESEL
                                                    </option>
                                                    <option value="car (diesel/small)">Car - small (up tp 1.7 litre
                                                        engine)
                                                    </option>
                                                    <option value="car (diesel/medium)">Car - medium (1.7 - 2.0 litre
                                                        engine)
                                                    </option>
                                                    <option value="car (diesel/large)">Car - large (2.0+ litre engine)
                                                    </option>
                                                    <option value="car (diesel/average)">Car - average (unknown)
                                                    </option>
                                                    <option value="" disabled="disabled" selected="selected">CAR -
                                                        PETROL
                                                    </option>
                                                    <option value="car (petrol/small)">Car - small (up tp 1.4 litre
                                                        engine)
                                                    </option>
                                                    <option value="car (petrol/medium)">Car - medium (1.4 - 2.0 litre
                                                        engine)
                                                    </option>
                                                    <option value="car (petrol/large)">Car - large (2.0+ litre engine)
                                                    </option>
                                                    <option value="car (petrol/average)">Car - average (unknown)
                                                    </option>
                                                    <option value="" disabled="disabled" selected="selected">CAR -
                                                        HYBRID
                                                    </option>
                                                    <option value="car (hybrid/small)">Car - small (up tp 1.4 litre
                                                        engine)
                                                    </option>
                                                    <option value="car (hybrid/medium)">Car - medium (1.4 - 2.0 litre
                                                        engine)
                                                    </option>
                                                    <option value="car (hybrid/large)">Car - large (2.0+ litre engine)
                                                    </option>
                                                    <option value="car (hybrid/average)">Car - average (unknown)
                                                    </option>
                                                    <option value="" disabled="disabled" selected="selected">FERRY
                                                    </option>
                                                    <option value="ferry (foot)">Ferry (foot passenger)</option>
                                                    <
                                                    <option value="ferry (car)">Ferry (car passenger)</option>
                                                    <option value="" disabled="disabled" selected="selected">MOTORBIKE -
                                                        PETROL
                                                    </option>
                                                    <option value="motorbike (petrol/small)">Motorbike - small (125cc)
                                                    </option>
                                                    <option value="motorbike (petrol/medium)">Motorbike - medium (125 -
                                                        500cc)
                                                    </option>
                                                    <option value="motorbike (petrol/large)">Motorbike - large (500cc)
                                                    </option>
                                                    <option value="motorbike (petrol/average)">Motorbike - average
                                                        (unknown)
                                                    </option>
                                                    <option value="" disabled="disabled" selected="selected">RAIL
                                                    </option>
                                                    <option value="rail (national)">Rail (national)</option>
                                                    <option value="rail (international)">Rail (international)</option>
                                                    <option value="rail (light/tram)">Rail (light/tram)</option>
                                                </select>
                                                    <!-- 'size' changes length of input box-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h3 id="tableH3"> Enter distance travelled in km</h3>

                                                    <input type="number" name="distance" size="30" value="distance"
                                                           th:field="*{distance}"
                                                           th:object="${transObject}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <!-- submit button -->
                                                <td>
                                                    <button class="quantity" onclick="TestsFunction()" name="add"
                                                            value="ADD FOOD">ADD JOURNEY
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <p style="color:grey; margin-left: 35%; ">CO₂ (kg):</p>
                                                        <div class="res">
                                                            <p style="font-style: italic;  font-weight: bold;"
                                                               th:text="*{res}"></p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <!-- submit button -->
                                                <td><input th:object="${transTotalObject}" class="totalBtn" type="submit"
                                                           name="calc"
                                                           value="CALCULATE TOTAL"/></td>
                                            </tr>

                                            <tr>
                                                <td><div class="total">
                                                        <p>Total CO₂ (kg):</p>
                                                    </div>
                                                    <p style="font-style: italic; color: orangered;  font-weight: bold; margin-left: 67%; margin-top: -11%; margin-bottom: -11%;"
                                                       th:text="*{total}"></p>

                                                    <br>
                                                    <br>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--        <div class="form">-->
            <!--            <form action="#" th:action="@{/calcFoodTotal}" th:object="${foodTotalObject}" method="post">-->
            <!--                <div align="center">-->
            <!--                    <table>-->
            <!--                    <tr>-->
            <!--                        &lt;!&ndash; submit button &ndash;&gt;-->
            <!--                        <td><input id="foodTotal" type="submit" name="footTotal" value="CALCULATE"/></td>-->
            <!--                    </tr>-->

            <!--                    <tr>-->
            <!--                        <td>-->
            <!--                            <p> TOTAL</p>-->
            <!--                            <p th:text="*{total}"></p>-->
            <!--                        </td>-->
            <!--                    </tr>-->
            <!--                    </table>-->
            <!--                </div>-->
            <!--            </form>-->
            <!--        </div>-->


            <!--        <div class="row">
                       <div class="col-md-6">
                           <div class="card ">
                               <div class="header">
                                   <h4 class="title">2014 Sales</h4>
                                   <p class="category">All products including Taxes</p>
                               </div>
                               <div class="content">
                                   <div id="chartActivity" class="ct-chart"></div>

                                   <div class="footer">
                                       <div class="legend">
                                           <i class="fa fa-circle text-info"></i> Tesla Model S
                                           <i class="fa fa-circle text-danger"></i> BMW 5 Series
                                       </div>
                                       <hr>
                                       <div class="stats">
                                           <i class="fa fa-check"></i> Data information certified
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div> -->
            <!--
                                <div class="col-md-6">
                                    <div class="card ">
                                        <div class="header">
                                            <h4 class="title">Tasks</h4>
                                            <p class="category">Backend development</p>
                                        </div>
                                        <div class="content">
                                            <div class="table-full-width">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox">
                                                                        <input id="checkbox1" type="checkbox">
                                                                        <label for="checkbox1"></label>
                                                                    </div>
                                                            </td>
                                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                            <td class="td-actions text-right">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox">
                                                                        <input id="checkbox2" type="checkbox" checked>
                                                                        <label for="checkbox2"></label>
                                                                    </div>
                                                            </td>
                                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                            <td class="td-actions text-right">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox">
                                                                        <input id="checkbox3" type="checkbox">
                                                                        <label for="checkbox3"></label>
                                                                    </div>
                                                            </td>
                                                            <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                            </td>
                                                            <td class="td-actions text-right">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox">
                                                                        <input id="checkbox4" type="checkbox" checked>
                                                                        <label for="checkbox4"></label>
                                                                    </div>
                                                            </td>
                                                            <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                                            <td class="td-actions text-right">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox">
                                                                        <input id="checkbox5" type="checkbox">
                                                                        <label for="checkbox5"></label>
                                                                    </div>
                                                            </td>
                                                            <td>Read "Following makes Medium better"</td>
                                                            <td class="td-actions text-right">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox">
                                                                        <input id="checkbox6" type="checkbox" checked>
                                                                        <label for="checkbox6"></label>
                                                                    </div>
                                                            </td>
                                                            <td>Unfollow 5 enemies from twitter</td>
                                                            <td class="td-actions text-right">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="footer">
                                                <hr>
                                                <div class="stats">
                                                    <i class="fa fa-history"></i> Updated 3 minutes ago
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->


            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>
                        <a href="http://www.creative-tim.com">SUSTAIN</a> What will you change?
                    </p>
                </div>
            </footer>

        </div>
    </div>
</div>
</div>
</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        demo.initChartist();

        // $.notify({
        //    	icon: 'pe-7s-gift',
        //    	message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

        //    },{
        //        type: 'info',
        //        timer: 4000
        //    });

    });
</script>

</html>
