<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="description" content="Meal planner to help the user choose seasonal, low carbon footprint meals">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/search.js"></script>
    <script src="js/light-bootstrap-dashboard.js?v=1.4.0"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="icon" type="image/png" href="images/logoIcon.png">

    <title>Spring/Summer</title>


    <link th:href="@{css/mealPlanner.css}" rel="stylesheet"/>
    <link th:href="@{css/form.css}" rel="stylesheet"/>
    <!-- Bootstrap core CSS     -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!--     Fonts and icons     -->
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    </style>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>

</head>
<body>

<div class="wrapper">
    <img src="images/sideLogo.png" alt="sideLogo"
         id="smallLogo">
    <div class="sidebar" data-color="azure" data-image="images/sidebar-5.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">

                <img src="images/profile.png" alt="Avatar" class="avatar">
                <div class="simple-text">
                    <b>[[${#request.userPrincipal.principal.username}]]</b>
                </div>
                <div style="display: flex; justify-content: center; margin-left:-5%;">
                    <p style="font-size: 100%; color:#e0dede; margin-top:-15%"><i class="pe-7s-map-marker"></i>&nbsp;[[${#request.userPrincipal.principal.location}]]
                    </p>
                </div>
            </div>

            <ul class="nav">
                <li>
                    <a href="dashboard">
                        <i class="pe-7s-user-female"></i>

                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="addFoodView">
                        <i class="pe-7s-calculator"></i>
                        <p>CO₂ Calculator</p>
                    </a>
                </li>
                <li>
                    <a href="statistics">
                        <i class="pe-7s-graph"></i>
                        <p>My Statistics</p>
                    </a>
                </li>
                <li class="active">
                    <a href="mealPlanner">
                        <i class="pe-7s-leaf"></i>
                        <p>Meal Planner</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand" href="#"><p style="font-size: 95%;">
                    </p></div>
                </div>
                <div class="collapse navbar-collapse">
                    <form th:action="@{/logout}" method="post">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                                        Logged in as
                                        <link rel="icon" type="image/png" href="images/profile.png">
                                        <b style="color: rgba(255,0,135,0.65)">&nbsp;[[${#request.userPrincipal.principal.username}]]</b>
                                        <b class="caret"></b>

                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="viewAccount">Account Info</a></li>
                                    <li class="divider"></li>
                                    <li><a href="logout">Log out</a></li>
                                </ul>
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card" style="margin-top: -2%; padding:1%">
                                <a href="foodSpringSummer"> <h1 class="btn btn-food active" style=" font-size: 200%;margin-top: -.5%">Spring/Summer</h1></a>
                                <select id="dietaryPref">
                                    <option value="" disabled="disabled" selected="selected">Dietary Preference
                                    </option>
                                    <option value="Vegan">Vegan</option>
                                    <option value="Vegetarian">Vegetarian</option>
                                    <option value="Gluten-Free">Gluten-Free</option>
                                </select>
                                <button onclick="searchFunction()" class="selectBtn">SELECT</button>
                                <a href="foodAutumnWinter"> <h1 class="btn btn-food"   style=" font-size: 200%;margin: -.5% 0 0 17%">Autumn/Winter</h1></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-12">
                        <div class="card" style="padding-bottom:15%; margin-top:-4%">
                            <div class="container">
                                <ul id="foodList">
                                    <div class="item a">
                                        <li><a href="https://www.wwf.org.uk/recipes/carrot-chickpea-burgers"
                                               style="color:white; font-size:.1%">Vegetarian<img
                                                src="images/food/spring-summer/chickpeaBurger.png"
                                                alt="carrotBurger"></a></li>
                                    </div>
                                    <div class="item">
                                        <li><a href="https://www.wwf.org.uk/recipes/chickpea-almond-stew"
                                               style="color:white; font-size:.1%">Vegetarian<img
                                                src="images/food/spring-summer/chickpeaStew.png"
                                                alt="chickpeaStew"></a></li>
                                    </div>
                                    <div class="item">
                                        <li>
                                            <a href="https://www.olivemagazine.com/recipes/vegetarian/halloumi-and-mediterranean-veg-traybake/"
                                               style="color:white; font-size:.1%">Vegetarian Gluten-Free<img
                                                    src="images/food/spring-summer/halloumiVeg.png"
                                                    alt="halloumiVeg"></a></li>
                                    </div>
                                    <div class="item">
                                        <li><a href="https://www.olivemagazine.com/recipes/vegan/courgette-curry/"
                                               style="color:white; font-size:.1%">Vegan Gluten-Free<img
                                                src="images/food/spring-summer/courgetteCurry.png"
                                                alt="courgetteCurry"></a></li>
                                    </div>
                                    <div class="item">
                                        <li><a href="https://www.wwf.org.uk/recipes/spinach-chickpea-falafel-wrap"
                                               style="color:white; font-size:.1%">Vegan<img
                                                src="images/food/spring-summer/falafelWrap.png"
                                                alt="falafelWrap"></a></li>
                                    </div>
                                    <div class="item">
                                        <li><a href="https://www.wwf.org.uk/recipes/lentil-stew"
                                               style="color:white; font-size:.1%">Vegan Gluten-Free<img
                                                src="images/food/spring-summer/lentilStew.png"
                                                alt="lentilStew"></a></li>
                                    </div>
                                    <div class="item">
                                        <li>
                                            <a href="https://www.olivemagazine.com/recipes/vegan/smoky-mushroom-and-walnut-stuffed-portobellos/"
                                               style="color:white; font-size:.01%">Vegan Gluten-Free<img
                                                    src="images/food/spring-summer/mushWalnuts.png"
                                                    alt="mushroomWalnut"></a></li>
                                    </div>
                                    <div class="item">
                                        <li><a href="https://www.wwf.org.uk/recipes/green-veg-crumble"
                                               style="color:white; font-size:.1%">Vegetarian<img
                                                src="images/food/spring-summer/greenPie.png"
                                                alt="greenVegCrumble"></a></li>
                                    </div>
                                    <div class="item">
                                        <li>
                                            <a href="https://www.olivemagazine.com/recipes/vegetarian/aubergine-kebabs-onion-salsa/"
                                               style="color:white; font-size:.1%">Vegan Gluten-Free<img
                                                    src="images/food/spring-summer/aubergineKebabs.png"
                                                    alt="aubergineKebabs"></a></li>
                                    </div>
                                    <div class="item">
                                        <li>
                                            <a href="https://www.olivemagazine.com/recipes/vegan/roasted-harissa-cauliflower/"
                                               style="color:white; font-size:.1%">Vegan Gluten-Free<img
                                                    src="images/food/spring-summer/roastedCauliflower.png"
                                                    alt="cauliflowerRoasted"></a></li>
                                    </div>
                                    <div class="item">
                                        <li>
                                            <a href="https://www.olivemagazine.com/recipes/vegetarian/pepper-date-and-harissa-tagine/"
                                               style="color:white; font-size:.1%">Vegan Gluten-Free<img
                                                    src="images/food/spring-summer/tagine.png"
                                                    alt="dateTagine"></a></li>
                                    </div>
                                    <div class="item">
                                        <li>
                                            <a href="https://www.olivemagazine.com/recipes/vegetarian/pea-and-mint-soup/"
                                               style="color:white; font-size:.1%">Vegetarian<img
                                                    src="images/food/spring-summer/peaSoup.png"
                                                    alt="dateTagine"></a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact
                            </a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>
                    <a href="#">SUSTAIN</a> What change will you make?
                </p>
            </div>
        </footer>

    </div>
</div>

</body>

</html>
